.chat-window-container {
  .chat-window {
    border-right: 1px solid #dbdbdf;
    display: flex;
    height: 100vh;
    flex-direction: column;

    .chat-header {
      height: 70px;
      border-bottom: 1px solid #dbdbdf;
      box-shadow: 0 0 6px #dbdbdf;
      .btn:hover {
        background-color: #eeeff2;
      }

      .btn {
        cursor: pointer;
        border-radius: 100%;
        padding: 5px;
      }
      .title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .chat-box {
      height: calc(100% - 70px - 55px - 50px);
      border-bottom: 1px solid #dbdbdf;
      background-color: #f4f5f7;
      // &.scrollable {
      //   position: relative;
      //   overflow-y: scroll;
      //   -webkit-overflow-scrolling: touch;
      // }

      .styles_scrollable-div__prSCv {
        height: 100%;
      }
    }
    .chat-menu {
      height: 50px;
      padding: 0px 10px;
      #btn-send-image,
      #btn-send-file {
        border: 0px;
        color: #394e60;
        width: 47px;
        height: 47px;
        padding-top: 8px;
        border-radius: 10px;
        margin-left: 3px;
      }

      #btn-send-image:hover,
      #btn-send-file:hover {
        background-color: #eeeff2;
      }

      .ant-upload-list {
        display: none;
      }
    }
    .chat-input {
      height: 55px;
      border-top: 1px solid #dbdbdf;
      padding: 0px 10px;
      .ant-input-affix-wrapper {
        border-radius: 40px;
        height: 40px;
        border: 1px solid #f3f3f5;
        background-color: #f3f3f5;
      }

      #input-chat {
        padding-left: 10px;
        font-size: 18px;
      }

      #btn-send-message {
        height: 43px;
        width: 43px;
      }
    }
    .icon {
      height: 40px;
      width: 40px;
    }

    .button {
      background: transparent;
      outline: none;
      border: none;
    }

    .emoji-mart {
      position: absolute;
      bottom: 75px;
      right: 70px;
    }
    .emoji-mart-bar {
      display: none;
    }
    .btn-close-search-message:hover {
      background-color: #ffffff;
    }
  }
}

.modal-add-friend {
  .ant-modal-content {
    .ant-select-selection-item-content {
      display: flex;
      align-items: center;
    }
  }
}
