.contact {
  &.content {
    height: 70px;
    padding: 5px 10px;
    display: flex;
    border-radius: 8px;
  }
  &.name {
    height: fit-content;
    font-size: 18px;
    padding-left: 10px;
    margin: auto 0px;
    flex: 1;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &.icon {
    align-self: center;
    flex: initial;
    width: 60px;
  }

  &.content:hover {
    background-color: rgb(244, 245, 247);
  }
  &.content {
    cursor: pointer;
  }
  &.active {
    background-color: rgb(244, 245, 247);
  }
  &.more {
    margin: auto 0px;
  }
}
