.toolbar {
  .toolbar-header {
    height: 70px;
    border-bottom: 1px solid #dbdbdf;
    text-align: center;
  }

  .toolbar-room-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    .toolbar-icon {
      margin-bottom: 20px;
    }
    border-bottom: 1px solid #dbdbdf;
  }
  .toolbar-menu {
    .ant-collapse-item {
      .ant-collapse-header {
        font-size: 16px;
        font-weight: 500;
      }
    }
    .toolbar-room-customize {
      .ant-btn {
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
      }
      .ant-btn:hover {
        border-color: #d7deeb;
        color: #000000;
      }
      p {
        padding: 0;
        margin: 0;
        display: inline;
        margin-left: 10px;
        font-size: 15px;
      }
    }
  }
}
