.top-left-container {
  padding: 0px 10px;
  height: 70px;
  border-bottom: 1px solid #dbdbdf;

  .search-bar {
    padding-right: 5px;

    .input-search {
      border-radius: 40px;
    }
  }

  .btn:hover {
    background-color: #eeeff2;
  }

  .btn {
    cursor: pointer;
    border-radius: 100%;
    padding: 5px;
  }
}
.model-create-room {
  .ant-modal-content {
    .ant-select-selection-item-content {
      display: flex;
      align-items: center;
    }
  }
}
