.login-option {
  p {
    padding: 0;
    margin: 0;
    display: inline;
    margin-left: 15px;
    font-size: 17px;
    font-weight: bold;
  }
  .login-phone{
    font-family:  Helvetica;
  }
  .login-google{
    font-family: Helvetica;
  }
  .btn-google{
    border: 2px solid #dce0e3;
    background-color: #fff;
  }

  .btn-google:hover{
    color: black;
    border: 2px solid #dce0e3;
    background-color: #dce0e3;
  }
  .btn-phone{
    border: 2px solid #dce0e3;
    font-weight: bold;
  }
  .btn-phone:hover{
    color: black;
    border: 2px solid #dce0e3;
    background-color: #dce0e3;
  }
  .ion-icon {
    vertical-align: middle;
  }

  button {
    height: 3.125em;
    width: 25em;
    margin-bottom: 10px;
  }
}
