.login {
  height: 100vh;
  p {
    padding: 0;
    margin: 0;
  }

  .login-container {
    background: #ffffff;
    min-height: 500px;
    border-radius: 15px;

    .login-content {
      padding-top: 40px;
    }

    .login-header {
      text-align: center;

      #login-logo {
        margin-bottom: 20px;
      }

      .login-title {
        font-size: 30px;
        font-weight: bold;
      }
    }

    .login-btnBack {
      position: absolute;
      left: 20px;
      top: 20px;
      cursor: pointer;
    }

    .login-body {
      padding-top: 40px;
    }
  }
}
