.message {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3px 10px 5px 10px;
  .message-ago {
    width: 100%;
    p {
      padding-left: 45px;
      color: #858585;
      font-size: 12px;
      margin: 0px;
    }
  }
}

.messageImage {
  max-height: 280px;
  max-width: 400px;
  border-radius: 10px;
}

.message-content {
  .messageText {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0px;
    overflow-wrap: break-word;
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    color: white;
    max-width: 430px;
    border-radius: 8px;
    background-color: #1877f2;
  }
  .ant-image-mask {
    border-radius: 10px;
  }
}

.message-avatar {
  margin-right: 5px;
}
.messageVideo {
  max-width: 400px;
  height: 225px !important;

  .react-player__preview {
    border-radius: 8px;
  }
  video {
    border-radius: 8px;
  }
}
.messageFile {
  display: flex;
  max-width: 400px;
  background-color: #d6deeb;
  padding: 10px;
  border-radius: 8px;
  max-height: '60px';
  align-items: center;
  .file-icon {
    background-color: #ffffff;
    flex: 0 0 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .file-name {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    display: -webkit-box;
    margin-left: 10px;
    color: #000000;
    flex: 1;
  }
}
.group-sender-name {
  margin: 0;
  width: 100%;
  color: #74777c;
  margin-bottom: 5px;
}

.own {
  justify-content: flex-end;
  .messageText {
    background-color: #d7deeb;
    color: black;
  }
  .message-avatar {
    margin-left: 5px;
  }
  .message-ago {
    width: 100%;
    p {
      padding-right: 50px;
      color: #858585;
      font-size: 12px;
      float: right;
    }
  }
  .group-sender-name {
    text-align: right;
    padding-right: 5px;
  }
}
